header{
    height: 20em;
    background-image: url(../imagenes/decoplantas_fondo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 5em;
    padding: 0px;
}

header h1{
    font-weight: 400;
    font-size: 400%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 10%;
    padding-top: 6%;
    margin-bottom: 1%;
}

header p{
    font-weight: 400;
    font-size: 150%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left:  10%;
    margin-top: 1px;
}

.productos{
    width: 70%;
    margin: auto;
    padding: 5px;
}

.productos td{
    width: 70%;
    padding: 1em;
}

.productos img{
    width: 65%;
    padding: 2rem;
    background-color: white;
    border: solid 1px white;
}

.productos p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.3em;
    margin-right: 5em;
}

footer{
    height: 3em;
    line-height: 3em;
    background-color: rgb(240, 127, 86);
    background-position: center;
    background-size: cover;
    color:white;
    text-align: center;
    font-weight: 900;
}